body {
    background-color: beige;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    background-color: black;
    color: beige;
    padding: 15px 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 4px 0;
}
.bounce{
    animation: bounce 2s infinite;
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-150px);
    }
    60% {
        transform: translateY(-75px);
    }
}
.fade{
    animation: fade 3s infinite;
}
@keyframes fade{
    0%{ opacity: 1; }
    50%{ opacity: 0; }
    100%{ opacity: 1;}
}
.slide{
    animation: slide 4s infinite;
}
@keyframes slide{
    0%{ transform: translateX(0);}
    50%{ transform: translateX(200px);}
    100%{transform: translateX(0);}
}
.footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 15px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    width: 100%;
}
@media(max-widht:600px){
    nav ulf{
        flex-direction: column;
        align-items: center;
    }
}
.container{
    flex-direction: column;
    align-items: center;
}
@keyframes slide{
        0%{ transform: translateX(0);}
    50%{ transform: translateX(150px);}
    100%{transform: translateX(0);}
}
main{
    padding: 10px;
    font-size: 15px;
}