#first{
    float: left;
    margin: 0 30px 0 30px;
    border: 4px solid black;
    border-radius: 30px;
}
body{
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#second{
    float: right;
    margin: 0 40px 0 40px;
    border: 4px solid rgb(105, 62, 62);
    border-radius: 30px;
}
div{
    margin: 0 50px 50px 50px;
    padding: 0 30px 30px 30px;
}
#menu{
    font-size: large;
    font-family: monospace;
    padding: 50px;
    margin: 0 30px 0 30px;
    text-align: center;
    background-color: black;
    color: antiquewhite;
}
#footer{
    color: antiquewhite;
    background-color: black;
    margin: 0px 15px 0px 15px;
    padding: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small
    
}