nav ul{
list-style: none;
justify-content: center;
display: flex;
background-color: cadetblue;
color: beige;
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li{
    padding: 30px;
    transition: transform 0.3s;
}
nav ul li:hover{
    transform: scale(1.05);
}
main{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img1{
    float: left;
    border-radius: 30px;
    border-color: black;
    height: 250px;
    width: 250px;
    margin: 0 25px 0 25px;
    animation: spin 20s linear infinite;
}
@keyframes spin{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
.img2{
    float: right;
        border-radius: 30px;
    border-color: black;
    height: 250px;
    width: 500px;
    margin: 0 25px 0 25px;
    transition:  transform 0.3s;
}
.img2:hover{
    transform: scale(1.05);
}
.img3{
    width: 1300px;
    border-radius: 30px;
    border-color: cornflowerblue;
}
footer{
    background-color: cornflowerblue;
    color: bisque;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
}
.ul1{
    background-color: lightblue;
    color: black;
}
.new{
    width: 30%;
    border: 4px solid purple;
    border-radius: 15%;
}
.knopka{
    text-align: center;
}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 15%;
    font-size: 20px;
    background-color: cornflowerblue;
    border-radius: 15px;
    border: 15% solid purple;
    
}