nav ul{
    background-color: #2c2c2c;
    color: #c0a97a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s;
}
nav ul li:hover{
    transform: scale(1.05);
}
body{
    background-color: #0d0d0d;
     color:#d4d4d4 ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img1{
    float: left;
    border-radius: 20%;
    border: 4px solid #d4af37;
    margin: 15px;
    padding: 15px;
    animation: spin 20s linear infinite;
}
@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.img2{
    float: right;
    border-radius: 20%;
    border: 4px solid #a9a9a9;
    margin: 15px;
    padding: 15px;
    transition: transform 0.3s;
}
.img2:hover{
    transform: scale(1.09);
}
.imgpilot{
    width: 1325px;
    border-radius: 15%;
    border: 5px solid #d4af37
}
footer{
    background-color:#2b2b2b ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #c0a97a;
    margin: 275px;
    text-align: center;
    padding: 20px;
}
.imgstar{
    border-radius: 15%;
    border: 4px solid #1c2a39 ;
    width: 1325px;
}
button{
    border-radius: 15%;
    border: 2px solid #a9a9a9;
    transition: transform 0.2s;
}
button:hover{
    transform: scale(1.07);    
}
.but{
    float: right;
    border-radius: 15%;
    border: 4px solid #a9a9a9;
}
.byt{
    float: right;
}
.bet{
    float: left;
    border-radius: 15%;
    border: 4px solid #a9a9a9;
}