nav{
    background-color: #0f1116;
    color: #dcdfe6;
    border-radius: 20%;
    border: 4px solid #dcdfe6;
}
nav ul{
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    transition: transform 0.3s;
}
nav ul:hover{
    transform: scale(1.08);
}
nav ul li{
    margin: 10px;
    padding: 10px;
}
body{
    background-color: #1a1d24;
    color: #e5e6eb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
footer{
    background-color: #0b0d12;
    color: #cfd2da;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid #cfd2da;;
}
.img1{
    float: left;
    border: 4px solid bisque;
    border-radius: 15%;
    margin: 20px;
    animation: bounce 5s linear infinite;
}
@keyframes bounce{
0%,40%,80%,100%{
    transform: translateY(0px);
}
40%{
transform: translateY(-50px);
}
80%{
    transform: translateY(50px);
}
100%{
    transform: translateY(0px);
}
}
.img2{
        float: right;
    border: 4px solid bisque;
    border-radius: 15%;
    margin: 20px;
    transition: transform 0.3s;
}
.img2:hover{
    transform: scale(1.10);
}
.img3{
    width: 1325px;
    border: 4px solid wheat;
    border-radius: 15%;
}
.img4{
    float: right;
    height: 350px;
    border-radius: 15%;
    border: 4px solid whitesmoke;
}
a{
    color: inherit;
}
